# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Expo
.expo/
.expo-shared/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

*.keystore
*.jks